/* ================= Main Content ================= */
.main-content {
  background: #f0f2f5;
  padding: 2px 12px;
  overflow-y: auto; /* cuộn riêng */
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-color: #bcc0c4 #f0f2f5; /* Firefox */
  height: calc(100vh - 35px); /* full chiều cao trừ navbar */;
}

/* Custom scrollbar đẹp */
.main-content::-webkit-scrollbar {
  width: 6px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #bcc0c4;
  border-radius: 3px;
}

.main-content::-webkit-scrollbar-track {
  background: #f0f2f5;
}