/* ================= Contact Items ================= */
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
  max-width: 100%;
}

.contact:hover {
  background: #e4e6eb;
}

.avatarWrapper {
  /* position: relative; */
  width: 36px;
  height: 36px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.online {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #31a24c;
  border: 2px solid #fff;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

/* ================= Sidebar ================= */
.sidebar {
  /* background: #fff; */
  padding: 10px;
  overflow-y: auto; /* cuộn riêng */
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-color: #bcc0c4 #f0f2f5; /* Firefox */
  max-width: 250px; /* chiều rộng cố định sidebar */
}

/* Sidebar phải */
.right {
  height: calc(100vh - 56px); /* trừ navbar 56px */
}

/* ================= Contact list header ================= */
.contact-list-header {
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  width: 90%;
}

.contact-list-header-item-wrapper {
  padding: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.contact-list-header-item-wrapper:hover {
  background: #e4e6eb;
}

.contact-list-header-item-wrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* filter: invert(0.4); */
  margin-top: -3px;
  /* transform: translateY(-3px); */
}

/* ================= Tooltip ================= */
.tooltip-container {
  /* position: relative; */
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: -100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}