/* ================= Contact Items ================= */
.contact {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
  margin: 4px;
}

.contact:hover {
  background: #e4e6eb;
}

.avatarWrapper {
  position: relative;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ced4da;
  border-radius: 50%;
}

.avatar {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.online {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #31a24c;
  border: 2px solid #fff;
  border-radius: 50%;
}

.name {
  font-size: 10px;
  font-weight: 500;
}

.avatarWrapper2 {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper2Image {
  width: 80%;
  height: 80%;
  border-radius: 10%;
  object-fit: cover;
}

.avatar-menu-modal {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}