.fs-7 {
  font-size: 0.75rem !important; /* ~12px */
}

.fs-8 {
  font-size: 0.625rem !important; /* ~10px */
}

.cursor-pointer {
  cursor: pointer !important;
}

.auto-darken {
  transition: filter 0.2s ease;
}

.auto-darken:hover {
  filter: brightness(85%); /* giảm độ sáng xuống 85% → sẫm màu */
}